# Ignore environment secrets
backend/.env

# Ignore only sensitive env values, not config templates
# DO NOT ignore application.properties now since it uses safe ${...}
# If you have a private version, keep that as application-secret.properties and ignore it separately
# backend/src/main/resources/application-secret.properties

# Build and IDE
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
