<!-- <div class="dashboard">
  <h2>Traffic Overview</h2>

  <div class="charts">
    <div class="chart-container">
      <h3>Traffic Density Trend</h3>
      <canvas baseChart
              [data]="trafficData"
              [labels]="trafficLabels"
              [options]="trafficChartOptions"
              [legend]="true"
              [type]="'line'">
      </canvas>
    </div>

    <div class="chart-container">
      <h3>Average Speed Trend</h3>
      <canvas baseChart
              [data]="speedData"
              [labels]="trafficLabels"
              [options]="speedChartOptions"
              [legend]="true"
              [type]="'line'">
      </canvas>
    </div>

  </div>

  <div class="summary">
    <p><strong>Avg. Traffic Density:</strong> 629 vehicles/h</p>
    <p><strong>Avg. Speed:</strong> 24 km/h</p>
    <p><strong>High Congestion Areas:</strong> 31 locations</p>
  </div>
</div> -->
